<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/index.css" />
	<script src="../javascripts/index.js"></script>
	<title>PL Bets</title>
</head>
<body>
	<navbar>
		<div class="navbar-title"><h1>PL Bets</h1></div>
		<div class="navbar-button"><a href="/">Home</a></div>
		<div class="navbar-button"><a href="teams.html">Teams</a></div>
		<div class="navbar-button"><a href="players.html">Players</a></div>
		<div class="navbar-button"><a href="matches.html">Matches</a></div>
		<div class="navbar-button"><a href="prediction.html">Prediction</a></div>
	</navbar>
	<hr>
	<div class="page-titles-div">
		<div id="welcome">
			<h2>Welcome to PL Bets</h1>
			<hr>
			<div id="welcome-tagline">
				<p>PL Bets is a web application that allows users to view the Premier League teams, players, schedule, and run a prediction on the outcome of a match.</p>
			</div>
		</div>
	</div>
</body>
</html>
