<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/index.css" />
	<title>Schedule</title>
</head>
<body>
	<navbar>
		<div class="navbar-title"><h1>PL Bets</h1></div>
		<div class="navbar-button"><a href="/">Home</a></div>
		<div class="navbar-button"><a href="teams.html">Teams</a></div>
		<div class="navbar-button"><a href="players.html">Players</a></div>
		<div class="navbar-button"><a href="matches.html">Schedule</a></div>
		<div class="navbar-button"><a href="prediction.html">Prediction</a></div>
	</navbar>
	<hr>
	<h2>Matches</h2>
	<hr>
	<p>View past and present matches for organised by season, from the 2018-19 season. </p>
	<hr>
	<div id="past-matches"></div>
		<!-- TODO - for matches show gameweek, date, KO time, home team, away team and score -->
	<div id="future-matches">
		<!-- TODO - for matches show gameweek, date, KO time, home team and away team -->
		<!-- TODO - add a button to add results to matches in the future matches section -->

	</div>
</body>
</html>