<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../stylesheets/index.css" />
	<script src="../javascripts/teams.js"></script>
	<script src="../javascripts/index.js"></script>
	<title>Teams</title>
</head>
<body>
	<navbar>
		<div class="navbar-element navbar-title"><h1>PL Bets</h1></div>
		<a href="/"><div class="navbar-element navbar-button"><p>Home</p></div></a>
		<a href="/teams.html"><div class="navbar-element navbar-button"><p>Teams</p></div></a>
		<a href="/players.html"><div class="navbar-element navbar-button"><p>Players</p></div></a>
		<a href="/matches.html"><div class="navbar-element navbar-button"><p>Matches</p></div></a>
		<a href="/prediction.html"><div class="navbar-element navbar-button"><p>Prediction</p></div></a>
	</navbar>
	<hr>
	<div class="page-titles-div">
		<h2 class="page-title">Teams</h2>
		<hr>
		<p class="page-description">View all teams in the Premier League, and their players</p>
	</div>
	<div id="teamsContainer"></div>
</body>
</html>
