/* 
	#009A17 - Forest Green
	#151515 - Night
	#F8F4E3 - Cosmic Latte
	#6E8894 - Slate Gray
	#64A6BD - Moonstone 
*/

html {
	background-color: #F8F4E3;
	border: #151515 5px solid;
}

.page-titles-div {
	background-color: #6E8894 ;
	padding: 2%;
	border-radius: 10px;
	border: #151515 2px solid;
}

.team {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.team img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

navbar {
	background-color: #009A17;
	border-bottom: 3px solid #151515;
	border-left: 2px solid #151515;
	border-right: 2px solid #151515;
	border-top: 2px solid #151515;
	display: flex;
	justify-content: space-between;
	padding: 1.5%;
	border-radius: 20px;
	color: #151515;
}

.page-title {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}
.page-description {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

.navbar-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1%;
}

.navbar-button a {
	text-decoration: none;
	font-size: xx-large;
	font-weight: bold;
}

#welcome {
	width: 70%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
}
#welcome h2 {
	font-size: 4em;
	font-weight: bold;
	margin: 2%;
}
#welcome p {
	font-size: 1em;
	font-weight: bold;
	margin: 2%;
}
#welcome-tagline {
	display: flex;
	align-items: center;
}

.pop-up-label-field {
	margin: 2%;
	padding: 5%;
	border: #000 1px solid;
}
.handling {
	display: flex;
	justify-content: right;
	align-items: center;
	flex-direction: row;
	margin-right: 5%;
}
#filter-pop-up-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.popup-element{
	display: flex;
	margin: 1%;
	align-items: center;
}
.pop-up {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	background-color: #999;
	border: #fff 1px solid;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 2%;
	width: 350px;

	animation: fadeIn .25s;
	-webkit-animation: fadeIn .25s;
	-moz-animation: fadeIn .25s;
	-o-animation: fadeIn .25s;
	-ms-animation: fadeIn .25s;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2%;
	margin: 2%;
	border: 3px solid #524632;
	border-radius: 5%;
	transition: all 0.3s ease;
	background-color: #fff;
}
.card:hover {
	transform: scale(0.975);
	background-color: #999;
}
.card:active {
	transform: scale(0.97);
	background-color: #777;
}
.active {
	background-color: #08a9f3;
	transform: scale(1.025);

}
.card-element {
	display: flex;
	align-items: center;
}

.view-buttons {
	padding: 2%;
	border-radius: 15px;
	text-align: center;
}
.view-buttons:hover {
	background-color: #999;
	transform: scale(0.975);
}
.view-buttons:active {
	background-color: #777;
	transform: scale(0.97);
}

#warning-pop-up {
	background-color: #ff0f0f;
	border: #fff 1px solid;
	color: #fff;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	font-size: large;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.75;
}