#seasons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%
}
.match-season {
	padding: 5%;
}

#past-container{
  display: none;
}
#future-container {
  display: none;
}
#all-match-container {
  padding: 1%;
  margin: 1%;
}
.match-container-section {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.single-match-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
  margin: 1%;
  border: 1px solid black;
}
.form-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.popup-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 2%;
}
.btn-primary {
	padding: 4%;
}
.form-group input {
	text-align: center;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
/* styling for season buttons and button text */