#playersContainer{
	margin: 2%;
}
.player-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2%;
	margin: 2%;
	border: 3px solid #000;
	border-radius: 5%;
	transition: all 0.3s ease;
}
.player-card:hover {
	transform: scale(0.975);
	background-color: #999;
}
.player-card-element {
	display: flex;
	align-items: center;
}