.selectors {
	display: flex;
	flex-direction: row;
	padding: 2%;
}
.selector-components {
	width: 100%;
}
.player-selector{
	display: flex;
	width: 100%;
}
.selector-container {
	display: block;
	width: 100%;
}
.player-select{
	width: 250px;
	border: 3px solid #eee;
	padding: 2%;
}
.team-select{
	width: 100%;
	border: 3px solid #eee;
	padding: 2%;
}
.selected-players {
	display: none;
}
.player-selection-section {
	text-align: center;
	width: 50%;
}

#prediction-results {
	display: none;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 2%;
}
table, th, td {
	border: 2px solid black;
	box-sizing: border-box;
}

table {
	table-layout: auto;
	width: 100%;
}