.selectors {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2%;
}
.selector-components {
	width: 100%;
}
.player-selector{
	display: flex;
	width: 100%;
}
.selector-container {
	display: block;
	width: 100%;
}
.player-select{
	width: 250px;
	border: 3px solid #eee;
	padding: 2%;
}
.team-select{
	width: 100%;
	border: 3px solid #6E8894;
	background-color: #64A6BD;
	padding: 2%;
}
.selected-players {
	display: none;
}

#prediction-results {
	display: none;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 2%;
}
table, th, td {
	border: 2px solid black;
	box-sizing: border-box;
}

table {
	table-layout: auto;
	width: 100%;
}
.prediction-pop-up {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	background-color: #999;
	border: #fff 1px solid;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 2%;

	animation: fadeIn .25s;
	-webkit-animation: fadeIn .25s;
	-moz-animation: fadeIn .25s;
	-o-animation: fadeIn .25s;
	-ms-animation: fadeIn .25s;
}
.prediction-button-container {
	display: flex;
	flex-direction: row;
}

#run-prediction-button-container {
	padding: 1%;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}