pandas
numpy
sqlalchemy
psycopg2-binary
h5py==3.9.0
tensorflow==2.12.0
scikit-learn
scikeras
marshmallow
flask
flask_rebar
flask_cors
statsmodels
matplotlib
seaborn
scipy
pyarrow
rapidfuzz
python-Levenshtein
fluent-logger
python-dotenv